h1{
    font-size:5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em); 
	background-clip: text;
}
h2{
    color: red;
    font-size: 20px;
}
body{
    background-color: black;
    text-align: center;
}
.text{
    color: white;      
    text-decoration: none;
}
h3{
    color: white;
    font-size: 15px;
}
